.CardClass {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    color: lightgray;
    margin-left: 20%;
    margin-right: 20%;
}

.matchDate {
    margin-left: 55%;
    color: black;
}

.matchType {
    color: black;
}

.team1 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 150px;
    color: chartreuse;
    
    font-size: xx-large;
    margin-top: auto;
    margin-bottom: 30%;
}

.vs {
    margin-left: 3%;
    margin-bottom: 30%;
    color: crimson;
}

.team2 {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    border-radius: 150px;
    color: chartreuse;
    font-size: xx-large;
    margin-top: auto;
    margin-left: 3%;
    margin-bottom: 30%;
}

.result {
    color: black;
    text-align: left;
}

.detailButton {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
}